#set ( $path = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block/calling-page/system-page/path").value )

<ul>
	<li><a href="/index">Home</a></li>
	<li><a href="#navigation">Skip to Navigation</a></li>
	<li class="last"><a href="[system-asset:configuration=HTML]${path}[/system-asset:configuration]?r=stop">Full Site</a></li>
</ul>